<div class="container">
    <h2>Any Comments There?</h2>
    <!-- <input [(ngModel)]="comment"> </input> -->
    <!-- <mat-button color="success" fill="outline" (click)="addComment()"
      >Add Comment</mat-button
    > -->

    <!-- <ion-list lines="none">
      <ion-item
        (click)="removeComment(comment)"
        button
        *ngFor="let comment of allComments$ | async"
      >
        <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
        <ion-label> {{comment.content}} </ion-label>
      </ion-item>
    </ion-list> -->
    <!-- <mat-list> -->
        <!-- <mat-list-item (click)="removeComment(comment)"
        *ngFor="let comment of allComments$ | async"><mat-icon iconPositionEnd>check_circle_outline</mat-icon>{{comment.content}}</mat-list-item>
       </mat-list> -->
  </div>
