mat-card {
    max-width: 450px;
    margin: 2em auto;
    text-align: center;
    min-height: 500px;
    background :#44444f;
    border-radius: 15px;
    margin-top: 100px;
    position: relative;
  }
  
  .header{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 20px;
  padding-top: 60px;
  }
  .full-width {
    width: 90%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .login-button{
    align-items: center;
    margin: 20px;
    padding: 22px 35px 22px 35px ;
  }

  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 15px;
    margin: 0;
  }
  
  .contentBody {
    padding: 60px 1rem;
    display: block;
  }
  
  .aLink{
    text-align: left !important;
    color: rgb(139, 124, 187);
    margin: 2px 0px 10px 0px;
    text-decoration: none;
  }