<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side">
        <mat-nav-list>
    <mat-list-item>
        <button  mat-button>
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </button>
    </mat-list-item>
    <mat-list-item>
        <button  mat-button>
            <mat-icon>home</mat-icon>
            Home
        </button>
    </mat-list-item>
    <mat-list-item>
        <button  mat-button>
            <mat-icon>settings</mat-icon>
            Settings
        </button>
    </mat-list-item>
    <mat-list-item>
        <button  mat-button>
            <mat-icon>help</mat-icon>
            Help
        </button>
    </mat-list-item>
</mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center; min-height: 600px;"></div>
        <!-- <router-outlet></router-outlet> -->
    </mat-drawer-content>
</mat-drawer-container>
