.heading{
    color: black;
    margin: 20px;
    font-weight: bold;

}
.subHeading{
  color: black;
  margin: 20px;
  font-weight: bold;
  text-align: left;
}

mat-card {
    min-width: 300px;
    margin: 2em auto;
    min-height: auto;
    background :#44444f;
    border-radius: 15px;
    margin: 15px;
}

.cards {
    display: flex;
    align-items: center;
      flex-wrap: wrap;
      gap: 16px;

  }
  .card{
    flex: 0 0 calc(33.33% - 16px); // Set width for 3 cards in a row with gap
    margin:5px 10px 16px 10px;
  }

.link{
    color: white;
}

.table{
  width: 50px;
  margin: 10px;
}

.table-button{
  position: absolute;
top: 10%;
right: 2%;
transform: translate(-50%, -50%);
}

.row-is-clicked{
  font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

// .mat-column-title{
//   width: 150px;
// }
